<!--Start SideNav-->
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Online Presence</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item href="https://github.com/shivtu" target="_blank">GitHub</a>
          <a mat-list-item href="https://www.linkedin.com/in/shiben-dutta-28441618/" target="_blank">LinkedIn</a>
          <a mat-list-item>youtube</a>
          <a mat-list-item href="https://www.facebook.com/shiben.dutta" target="_blank">Facebook</a>
          <a mat-list-item href="https://twitter.com/shiben_dutta" target="_blank">Twitter</a>
        </mat-nav-list>
      </mat-sidenav>

      <!-- START PAGE TABS-->
        <mat-tab-group>
          <mat-tab label="About"> 
              <img src="../assets/img/myDp.jpeg" style="max-width: 200px; float: left;"/>
            
              <p id="aboutContent">-I am a professional web developer who has fallen in love with technology<br/><br/>
              -I keep creating apps and projects in most of my free time<br/><br/>
              -Love to explore new frameworks and tech stack<br/><br/>
              -My recent favourite has been hybrid mobile apps<br/><br/>
              -Keenly interested in developing solutions for real world problems<br/><br/>
              -You will find most of my ideas working and embeded into code on my GitHub repository.<br/><br/>
              -I also have a few youtube videos where you would find a solution to all the road blocks i have come accross as a developer in my career.<br/><br/>
              -And a few videos as "Getting started guides" for those who wish to dive into programming.<br/><br/>
              -Most of my apps and projects that i build are open source and freely available on GitHub.</p>  
          </mat-tab>
          <mat-tab label="Projects">
            <ol>
              <li><a href="https://github.com/shivtu/supergym" target="_blank">SuperGym REST API</a>
                <ul>
                  <li>Simple REST API for gym membership management</li>
                  <li>Admins will be able to add members and there membership numbers</li>
                  <li>Segregated access for admin, trainers and memebers</li>
                  <li>Trainers will be able to add users as enquiry</li>
                  <li>Only admins will have the access to add membership numbers and define membership periods</li>
                  <li>Users will be able to upload profile pictures and track fitness program progress</li>
                  <li>Frameworks and modules used used : <a href="https://expressjs.com/" target="_blank">Expressjs</a>, <a href="https://www.npmjs.com/package/bcrypt" target="_blank">node.bcrypt.js</a>, <a href="https://mongoosejs.com/docs/guide.html" target="_blank">Mongoosejs</a>, <a href="https://github.com/expressjs/multer" target="_blank">multer</a></li>
                  <li>License : <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></li>
                </ul>
              </li>
              <br/><br/>
              <li><a href="https://github.com/shivtu/superGym-UI-mobile" target="_blank">SuperGym Mobile App UI</a>
                <ul>
                  <li>Hybrid mobile app using <a href="https://github.com/shivtu/supergym" target="_blank" target="_blank">SuperGym REST API</a> as backend</li>
                  <li>Seggregated login for admin trainers and members</li>
                  <li>Framework used : <a href="https://ionicframework.com/" target="_blank">Ionic 3</a></li>
                  <li>License : <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></li>
                </ul>
              </li>
              <br/><br/>
              <li><a href="https://github.com/shivtu/profile">Profile Page</a>
                <ul>
                  <li>Everything you see on this site is this project</li>
                  <li>License : <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></li>
                </ul>
              </li>
              <li></li>
            </ol>
          </mat-tab>

          <!--start tutorial tab-->
          <mat-tab label="Tutorials">
            <br/>
            <div class="card">
              <img src="../assets//img/ionic-logo-portrait.png" alt="Ionic framework" style="width:50%">
              <h2>Ionic Getting Started</h2>
              <p>An end to end guide to get you started with Ionic 3 with a login template and a side menu</p>
              <p><button>View The Guide</button></p>
            </div>
            
            
          <!--End mat tab tutorial-->
          </mat-tab>
          <mat-tab label="Contact / Hire Me">
            <div id="resume">
              
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Conatct Me
                    </mat-panel-title>
                    <mat-panel-description>
                      Send a message
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  
                  <div class="form-container">
                    <mat-form-field>
                      <input matInput placeholder="Name" [formControl]="name" required>
                      <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Phone Number" type="number">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Email" [formControl]="email" required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>     
                    <mat-form-field>
                      <textarea matInput placeholder="Textarea" [formControl]="message" required></textarea>
                      <mat-error *ngIf="message.invalid">{{getTextErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Send Message</button>         
                  </div>
                  
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Resume
                    </mat-panel-title>
                    <mat-panel-description>
                      Download
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <button mat-stroked-button color="primary" style="float: right;">Download PDF</button>
                  <br/><br/><br/>
                  <textarea matInput placeholder="Textarea" readonly style="height: 500px;">
                      Shiben Dutta	
                      #41, Raju residency, Outer ring road, Mahadevapura, Bangalore 560048  
                      •  shibendutta@gmail.com
                      
                      SUMMARY OF QUALIFICATIONS
                      
                      •	Over 4 years of experience in Web development and IT infrastructure
                      •	Strong background in Hybrid mobile app build, understanding of web services (REST and SOAP APIs, OAuth authentication types etc.) and web technologies
                      •	Proven skills in Using IONIC framework, JavaScript framework/libraries, HTML, SCSS, PHP, MySQL
                      •	Demonstrated ability to create cross platform mobile apps and browser-based tools
                      •	Professional communication skills include fluency in English (verbal and written) – IELTS Level 7.5
                      •	Graduate in Bachelor of computer application
                      •	Programming skills include:	- JavaScript, PHP	
                      - MySQL
                      
                      PROFESSIONAL EXPERIENCE
                      
                      Web Application Developer	2016 – 2018
                      IBM India Pvt.Ltd, Bangalore, India
                      
                      •	Developed hybrid mobile app using service-now REST APIs for both IOS and android for IBM client
                      -Technologies used: IONIC framework – Angular-typescript, HTML, SCSS, HTTP methods DB operations using REST APIs
                      •	Developed hybrid mobile app using MAXIMO SOAP APIs for both IOS and android for IBM client
                      -Technologies used: IONIC framework – Angular-typescript, HTML, SCSS, HTTP methods for DB operations using SOAP APIs
                      •	Created, tested and implemented self-help / Reporting web portal for IBM service desk
                      -Technologies used: HTML, CSS, JavaScript, PHP, MySQL (LAMP stack)
                      •	Created, tested and implemented browser-based app for ticket dispatching and reporting
                      -Technologies used: HTML, CSS, JavaScript, PHP, MySQL (LAMP stack)
                      •	Created, tested and implemented auditing tool for quality and control team
                      - Technologies used: HTML, CSS, JavaScript, PHP, MySQL (LAMP stack)
                      •	Maintain, enhance/change and debug existing web applications as per client requirements
                      •	Push updates on mobile apps through client MDM
                      •	Manage client MDM for push notifications
                      •	Document and maintain projects on GitHub.
                      
                       
                      Shiben Dutta	Page 2 of 3
                      
                      Technical support representative	2014-2016
                      IBM India Pvt.Ltd, Bangalore, India
                      
                      •	Answered inquiries from customers in person and on the phone and via emails
                      •	Investigated and solved customer concerns for specific applications deployed by IBM
                      •	Manage and update end user profile on OPD using AD (Active directory)
                      •	Install and troubleshoot end user software products (example: Outlook, Lotus Notes, Cisco VPN clients, Adobe flash player and various other mainframe applications)
                      •	Earned Bravo Award for “Quality Service” twice
                      •	Participated in analyzing and investigating critical incidents with Incident Management teams
                      •	Participated in the migration drive from windows XP to windows 8.1 for end users of IBM client
                      •	Coordinated with Organization’s vendors and partners to resolve escalated incidents
                      •	Prepared reports for common and frequent issues based on ticketing tool data to device solutions
                      •	Earned Achiever’s club award for proposing value Ideas
                      -1. Idea Proposed: Proactively send email to customer to reset their respective passwords before the password expires
                      -2. Idea Proposed: Attach self-help troubleshooting guide on web portals for common issues
                      
                      
                      Technical support representative	2014-2014
                      Infinite Computer Solutions Pvt.Ltd, Bangalore, India
                      
                      •	Answered inquiries on phone in person for international users (USA, Canada, UK and Australia)
                      •	Troubleshoot on call for network connectivity and computer issues
                      •	Install software products (example: Office 365, anti-virus etc.) on laptop and desktop remotely
                      •	Use remote taking methods to troubleshoot and fix desktop, laptop, printer, router and IP camera issues.
                      •	Pitch for sales of computer, computer peripherals and maintenance services
                      •	Make sales of computers, printers and routers and other software products on call
                      
                      
                      Production Executive (Event Manager)	2009-2010
                      RN Eventsource Management Pvt.Ltd, Bangalore, India
                      
                      •	Execute promotional, advertising and brand building activities for the organization’s client
                      •	Acquired vendors and partners to set up stages, seating arrangement, decoration, printing, kiosk etc. for exhibitions, conferences, private parties, mall activities and road shows 
                      •	Carry out activities from arranging vendors and promoters to set up for the promotional activities and reporting to the client with the activity data
                      •	Use MS Office tools to prepare reports and presentation for the client for each day of activity.
                      •	Keep record of petty cash expenses and distribute payments to part time workers.
                      
                      
                      VOLUNTEER EXPERIENCE
                      
                      Online college management portal	
                      SAMS College, Bangalore 
                      
                      •	Created an online tool for college stake holders to maintain and update records related to everyday activities in the college.
                      •	Created a website and hybrid mobile app for both android and IOS for a vlogger
                      
                      
                      EDUCATION
                      
                      Masters of Computer Application	2009-2013
                      SAMS, Bangalore, India
                      Status - Incomplete   
                      
                      Bachelor of Computer Application	2006-2009
                      Bangalore University
                      (equivalent to a Bachelor of Computer Science degree from an Ontario university, as determined by World Education Services in Toronto, ON)
                      
                      
                      REFERENCES
                      
                      •	Available Upon Request
                      
                  </textarea>
                </mat-expansion-panel>
              </mat-accordion>

            </div>
          </mat-tab>
        </mat-tab-group>
      <!-- END PAGE TABS-->

    </mat-sidenav-container>
  </div>
  <div *ngIf="!shouldRun"></div>     
  <!--End SideNav-->
<router-outlet></router-outlet>
